    @use "./variables.scss" as *;
    * {
        margin: 0;
        padding: 0;
    }
    
    a:link,
    a:visited {
        text-decoration: none;
        cursor: pointer;
        background-color: $quaternary-color;
        color: $primary-color;
    }
    
    #arwa {
        border-radius: 500px;
        border: 2px solid $primary-color;
        padding: 5px;
        width: 300px;
        height: auto;
        background-color: $tertiary-color;
        float: right;
    }
    
    .top_banner {
        display: block;
        position: fixed;
        top: 0;
        width: 95%;
        padding: 20px;
        background-color: $quaternary-color;
        color: $primary-color;
        margin: 2rem auto;
        box-shadow: -2px 4px 12px $secondary-color;
    }
    
    .button {
        font-family: $secondary-font;
        font-size: 1.5rem;
    }
    
    header {
        float: left;
        font-size: 4rem;
        font-family: $secondary-font;
        background-color: $quaternary-color;
        animation: .4s bounce ease-in-out;
        &:nth-child(2) {
            animation-delay: .1s;
        }
        &:nth-child(3) {
            animation-delay: .2s;
        }
        &:nth-child(4) {
            animation-delay: .3s;
        }
        &:nth-child(5) {
            animation-delay: .4s;
        }
        // &:nth-child(6) {
        //     animation-delay: .5s;
        // }
        // &:nth-child(7) {
        //     animation-delay: .6s;
        // }
    }
    
    nav {
        float: right;
        justify-content: space-between 20px;
        font-size: 2rem;
        font-family: $secondary-font;
    }
    
    main {
        margin-top: 200px;
        // position: sticky;
    }
    
    .mid_banner {
        display: flex;
        flex-wrap: nowrap;
        float: left;
    }
    
    .all_project_cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .project_cards {
        width: 300px;
        height: auto;
        border: 20px;
        border-radius: 25px;
        text-align: center;
        padding: 20px;
        background-color: $quaternary-color;
        color: $primary-color;
        box-shadow: 5px 5px 5px 5px $secondary-color;
    }