@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Bebas+Neue&display=swap');
$primary-font: "Arvo";
$secondary-font: "Bebas Neue";
$primary-color: #92828d;
$secondary-color: #ceb5a7;
$tertiary-color: #ebefbf;
$quaternary-color: #eaf7cf;
$background-color: whitesmoke;